[mysqld]
bind-address            = 0.0.0.0
datadir                 = /var/lib/mysql
innodb-buffer-pool-size = 16M
performance_schema      = off
port                    = 3306
socket                  = /tmp/mysql.sock
sql_mode                = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
